* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width:50%;
  padding: 10px;
  height:1500px; /* Should be removed. Only for demonstration */

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  border-radius: 4px;
  background-color: pink;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}



.button2 {
  border-radius: 4px;
  background-color:maroon;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}



.button3 {
  border-radius: 4px;
  background-color:green;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}
.button4 {
  border-radius: 4px;
  background-color:indigo;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button4:hover span {
  padding-right: 25px;
}

.button4:hover span:after {
  opacity: 1;
  right: 0;
}
.button5 {
  border-radius: 4px;
  background-color:gold;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button5 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button5:hover span {
  padding-right: 25px;
}

.button5:hover span:after {
  opacity: 1;
  right: 0;
}
.Gbutton{
	padding-top:5px;
	padding-left: 20px;
}
.button6 {
  border-radius: 4px;
  background-color:white;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.button7 {
  border-radius: 4px;
  background-color:black;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.button6 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button6 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
 
}

.button6:hover span {
  padding-right: 25px;
}

.button6:hover span:after {
  opacity: 1;
  right: 0;
}
.click_more{
	padding-top:80px;
	padding-left: 100px;
}
.click_more1{
	padding-top:80px;
	padding-left: 100px;
}
#product{
	display: block;
	background-color:white;
	color:black;
	border-radius: 20px;
}
#service{
	display: block;
	background-color:black;
	color:white;
	border-radius: 20px;
}